<section class="menu">
    <div class="logo">
        <h2>Logo</h2>
    </div> <!--logo-->

    <div class="menu-desktop">
        <ul>
            
            <li><a href="/login/logout">Sair</a></li>
            <li><a href="#">Home</a></li>
            <li><a href="/user/login">Login</a></li>
            <li><a href="/register/user">Cadastrar</a></li>
            
        </ul>
    </div> <!--menu-desktop-->
</section>